---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import Banner from "@/components/Banner.astro";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <Banner />
  <main id="main-content" data-layout="index" class="app-layout">
    <section id="hero" class="pt-8 pb-6">
      <p>
        J'ai toujours été un patenteux, une personne qui entreprend ses idées.
        Pour moi, c'est une façon de vivre. J'aime me questionner et simplifier
        ce qui nous parait complexe.
      </p>
      <p class="mt-4">
        La façon dont les technologies nous touchent me fascine. Elles m'amènent
        à me questionner et à tenter de comprendre comment elles façonnent nos
        vies au quotidien.
      </p>
      <p class="mt-4">
        Faire des liens entre ce qui nous semble abstrait et concret tient mon
        esprit éveillé. Je trouve ça magique quand les points finissent par
        dévoiler « le big picture ».
      </p>
      <p class="mt-6">
        Bienvenue dans mon monde,<br />
        <span class="font-semibold">Pascal</span>
      </p>
    </section>

    {
      featuredPosts.length > 0 && (
        <section
          id="featured"
          class:list={[
            "pt-12 pb-6",
            { "border-b border-border": recentPosts.length > 0 },
          ]}
        >
          <h2 class="text-lg font-semibold tracking-wide sm:text-xl">
            Featured
          </h2>
          <ul>
            {featuredPosts.map(data => (
              <Card variant="h3" {...data} />
            ))}
          </ul>
        </section>
      )
    }
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
