---
type Heading = {
  depth: number;
  slug: string;
  text: string;
};

type Props = {
  headings: Heading[];
};

const { headings } = Astro.props;

// Filter to h2 only
const tocHeadings = headings.filter(h => h.depth === 2);
---

{
  tocHeadings.length >= 4 && (
    <nav aria-label="Table des matières" class="app-prose my-8">
      <h2>Table des matières</h2>
      <ul class="list-disc pl-4">
        {tocHeadings.map(heading => (
          <li>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
