---
import type { MarkdownLayoutProps } from "astro";
import Header from "@/components/Header.astro";
import Banner from "@/components/Banner.astro";
import Footer from "@/components/Footer.astro";

import Layout from "./Layout.astro";
import { SITE } from "@/config";

type Props = MarkdownLayoutProps<{ title: string }>;

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <Banner />
  <main id="main-content" class="app-layout pt-8 pb-12">
    <h1 class="text-xl text-accent sm:text-2xl">
      {frontmatter.title}
    </h1>
    <article id="about" class="app-prose max-w-app prose-img:border-0">
      <slot />
    </article>
  </main>
  <Footer />
</Layout>
